@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    


}
:root { 
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: "Passion One", sans-serif;
    --font03: "Sriracha", cursive;
   
    
    
  

}
:root {
  --cor-primaria: #2E338C;
  --cor-secundaria: #03A64A;
  --cor-fundo: #BABF1F;
  --cor-texto: #F2B90C;
  --cor-destaque: #F2F2F2;
}




html,body{
    min-height: 100vh;
    background-color:#5484B5;
    font-family: var(--font01);
    
    
    
}

header{
    background-color:#03A64A;
    text-align: center;
    font-family: var(--font01);
}
header > h1{
    padding-top: 50px;  
    font-variant: small-caps;
    color: black;
    font-family: var(--font02);
    font-size: 10vh;
}

header >p{
    padding-bottom: 50px;
    

}

a{
    color: black;
    text-decoration: none;
    font-weight: bolder;

}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height:2em;
    padding-left: 30px;
    font-family:var(--font03);
    font-size: 3.5vh;
    
    
}

section.normal{
    background-color:black;
    color: white;
}

section.imagem{
    background-color: #2E338C;
    color: black;

}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: #babf1f66;
   
}
section > p {
    padding-bottom: 2em;
}
section#img01{
    background-image: url(imagens/camisabrasil.jpg);
    background-size: cover;
   
    

}

section#img02{
    background-image: url(imagens/imagem-rostopintado2.jpg);
      background-size: cover;
      background-position: right center;
      

}



footer{
    background-color: var(--cor-secundaria);
    color: black;
    text-align: center;
    padding: 8px;
}


