@charset "utf8";


@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    


}
:root { 
    --font01: "Bungee", sans-serif;
    --font02: "Montserrat", sans-serif;
    --font03: "Limelight", sans-serif;

    
  

}
:root {
  --cor-primaria: #2E338C;
  --cor-secundaria: #03A64A;
  --cor-fundo: #BABF1F;
  --cor-texto: #F2B90C;
  --cor-destaque: #F2F2F2;
}




html,body{
    min-height: 100vh;
    background-color:#5484B5
    
    
    
}

header{
    background-color:#03A64A;
    text-align: center;
    font-family: var(--font01);
}
header > h1{
    padding-top: 50px;  
    font-variant: small-caps;
    color: black;
    font-size: 50px;
}

header >p{
    padding-bottom: 50px;
    

}

a{
    color: black;
    text-decoration: none;
    font-weight: bolder;

}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height:2em;
    padding-left: 30px;
    font-family: var(--font02)
    
}

section.normal{
    background-color:white;
    color: black;
}

section.imagem{
    background-color: #2E338C;
    color: black;

}

section.imagem > p{
    background-color: #BABF1F;
    width: 400px;
}




footer{
    background-color: var(--cor-secundaria);
    color: black;
    text-align: center;
    padding: 8px;
}


